body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    
}
.musicBox{
float: right;
max-width: 540px;
margin: 10px;
border: 0;
box-shadow: 0 0 4px #f50;
}
.musicBox:hover{
cursor: pointer;
box-shadow: 0 0 4px rgb(0, 60, 255);
}
.musicBox img{
    height: 200px;
    width: 200px;
}